.form-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  height: 25rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5%;
  opacity: 90%;
}

.form-popup button {
  margin: 1rem;
}

.form-popup form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  height: 20rem;
}

.form-popup input {
  font-size: 1rem;
  height: 3rem;
  width: 25rem;
}

.form-popup button {
  width: 8rem;
  margin: 1rem;
}
