.form-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  height: 20rem;
  background-color: white;
  border: 1px solid black;
  opacity: 90%;
}

.form-popup form {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.form-popup input {
  font-size: 2rem;
  height: 3rem;
  width: 30rem;
}
