.nav-bar {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  text-align: center;
  justify-content: space-between;
  background-color: black;
  height: 8vh;
  width: 100vw;
}

.nav-bar h1 {
  color: white;
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-family: "Palanquin Dark";
}
.div-links {
  width: 60rem;
}

.div-links ul {
  height: 7vh;
  display: flex;
  justify-content: center;
}

.div-links li {
  font-size: 3rem;
  margin-right: 2rem;
}

/* .sign-out {
  margin-right: 20rem;
} */
